<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <span class="icon"><i class="fas fa-film"></i></span>
      <strong class="ml-2">D&DApp</strong>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/peliculas/view">Películas</a>
      <a class="navbar-item" href="/personajes/view">Personajes</a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Información
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/info/desarrollador">Creadora</a>
          <a class="navbar-item" href="/diseno">Diseño</a>
          <a class="navbar-item" href="/planeacion">Planeación</a>
          <a class="navbar-item" href="/objetivo">Objetivo</a>
        </div>
      </div>
    </div>
  </div>
</nav>