{% extends "base.html" %}

{% block title %}Información de la desarrolladora{% endblock %}

{% block content %}
<h1 class="title">Desarrolladora</h1>

<div class="columns is-centered">
  <div class="column is-half">
    <div class="box has-text-centered">

      <figure class="image is-128x128" style="margin: 0 auto 1.5rem auto;">
        <img class="is-rounded" src="/static/foto-ana.jpg" alt="Foto de Ana">
      </figure>

      <ul class="has-text-left" style="margin-top: 1rem;">
        <li><strong>Nombre:</strong> Ana Maria Mican Diaz</li>
        <li><strong>Código:</strong> 67001373</li>
        <li><strong>Correo:</strong> ammican73@ucatolica.edu.co</li>
        <li><strong>Semestre:</strong> Cuarto semestre</li>
        <li><strong>Universidad:</strong> Universidad Católica de Colombia</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}