{% extends "base.html" %}

{% block title %}Información de la desarrolladora{% endblock %}

{% block content %}
<h1 class="title">Desarrolladora</h1>

<div class="box has-text-centered" style="max-width: 400px; margin: auto;">
    <figure class="image is-128x128 is-inline-block mb-4">
        <img class="is-rounded" src="/static/foto-ana.jpeg" alt="Foto">
    </figure>

    <ul style="text-align: left; display: inline-block;">
        <li><strong>Nombre:</strong> Ana Maria Mican Diaz</li>
        <li><strong>Codigo:</strong> 67001373</li>
        <li><strong>Correo:</strong> ammican73@ucatolica.edu.co</li>
        <li><strong>Semestre:</strong> Cuarto semestre</li>
        <li><strong>Institución:</strong> Universidad Catolica de Colombia</li>
    </ul>
</div>

{% endblock %}