{% extends "base.html" %}

{% block title %}Historial de Películas Eliminadas{% endblock %}

{% block content %}

<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Historial de Películas Eliminadas</h1>
    {% if historial %}
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          {% for item in historial %}
          <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.fecha.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="has-text-centered">No hay películas eliminadas aún.</p>
    {% endif %}
  </div>
</section>
{% endblock %}