{% extends "base.html" %}

{% block title %}Inicio - CineApp{% endblock %}

{% block content %}
  <h1 class="title">Bienvenido a CineApp</h1>
  <p class="subtitle">Agrega tus películas y personajes de DreamWorks y Disney.</p>

  <div class="columns is-centered">
  <div class="column is-narrow">

        <figure class="image mx-auto" style="width: 400px; height: 250px; overflow: hidden;">
            <img src="/static/disney.jpg" alt="Disney">
          </figure>
        </div>

        <div class="column is-narrow">
          <figure class="image mx-auto" style="width: 400px; height: 250px; overflow: hidden;">
            <img src="/static/dwimg.jpg" alt="DreamWorks">
          </figure>

    <div class="buttons">
      <a class="button is-primary is-rounded" href="/peliculas/view">
        <span class="icon"><i class="fas fa-video"></i></span>
        <span>Ver Películas</span>
      </a>
      <a class="button is-link is-rounded" href="/personajes/view">
        <span class="icon"><i class="fas fa-user"></i></span>
        <span>Ver Personajes</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}