{% extends "base.html" %}

{% block title %}Objetivo del Proyecto{% endblock %}

{% block content %}
<h1 class="title">Objetivo General</h1>

<div class="content">
  <p>El propósito de este proyecto es desarrollar una aplicación web educativa que permita listar y registrar personajes de películas animadas</p>
  <p>de Disney y DreamWorks, facilitando la comprensión de conceptos básicos de desarrollo web con FastAPI, SQLAlchemy y Jinja2.</p>

  <h2 class="subtitle">Objetivos Específicos</h2>
  <ul>
    <li>Diseñar un modelo de datos eficiente para almacenar películas y personajes.</li>
    <li>Implementar una API con FastAPI para gestionar la información.</li>
    <li>Diseñar vistas HTML amigables que permitan a los usuarios registrar y visualizar datos fácilmente.</li>
  </ul>
</div>
{% endblock %}