{% extends "base.html" %}

{% block title %}Películas{% endblock %}

{% block content %}
<h1 class="title">Lista de Películas</h1>

<div class="mb-4">
  <a href="/peliculas/crear" class="button is-warning">
    <span class="icon"><i class="fas fa-plus"></i></span>
    <span>Crear Película</span>
  </a>
</div>


<form action="/peliculas/filtrar/estudio" method="get" style="display: inline-flex;">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="estudio" placeholder="Buscar por estudio">
    </div>
    <div class="control">
      <button class="button is-info" type="submit">
        <span class="icon"><i class="fas fa-search"></i></span>
        <span>Buscar</span>
      </button>
    </div>
  </div>
</form>


<div class="columns is-multiline">
  {% for pelicula in peliculas %}

  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        {% if pelicula.img_url %}
        <figure class="image is-4by3">
          <img src="{{ pelicula.img_url }}" alt="{{ pelicula.titulo }}" style="width: 180px; height: 180px; ">
        </figure>
        {% else %}
        <figure class="image is-4by3">
          <img src="/static/default-img.png" alt="Imagen no disponible">
        </figure>
        {% endif %}
      </div>
      <div class="card-content">
        <p class="title is-5">{{ pelicula.titulo }}</p>
        <p><strong>Género:</strong> {{ pelicula.genero }}</p>
        <p><strong>Año:</strong> {{ pelicula.anio }}</p>
        <p><strong>Estudio:</strong> {{ pelicula.estudio }}</p>
          <a href="/peliculas/{{ pelicula.id }}/personajes" class="button is-link is-small mt-2">
            <span class="icon"><i class="fas fa-users"></i></span>
            <span>Ver personajes</span>
          </a>

        <a href="/peliculas/editar/{{ pelicula.id }}" class="button is-info is-small">
          <span class="icon"><i class="fas fa-edit"></i></span>
          <span>Editar</span>
        </a>

        <form action="/peliculas/eliminar/{{ pelicula.id }}" method="post" style="display:inline;">
          <button class="button is-danger is-small" type="submit" onclick="return confirm('¿Eliminar esta película?');">
            <span class="icon"><i class="fas fa-trash"></i></span>
            <span>Eliminar</span>
          </button>
        </form>

      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}