{% extends "base.html" %}

{% block title %}Personajes{% endblock %}

{% block content %}
<h1>Lista de Personajes</h1>

<div class="buttons">
  <a class="button is-warning" href="/personajes/crear">
    <span class="icon"><i class="fas fa-plus"></i></span>
    <span>Crear Personaje</span>
  </a>
</div>


<div class="grid">
    {% for personaje in personajes %}
    <div class="card">
        {% if personaje.img_url %}
            <img src="{{ personaje.img_url }}" alt="{{ personaje.nombre }}" style="width: 180px; height: 180px;">
        {% else %}
            <img src="/static/default-img.png" alt="Imagen no disponible">
{% endif %}
        <div class="titulo">{{ personaje.nombre }}</div>
        <div class="detalle">Película: {{ personaje.pelicula.titulo }}</div>
        <div class="detalle">Protagonista: {{ 'Sí' if personaje.protagonista else 'No' }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}