{% extends "base.html" %}

{% block title %}Personajes{% endblock %}

{% block content %}
<h1>Lista de Personajes</h1>

<a href="/crear-personaje-form" class="button is-warning is-rounded">
    <span class="icon"><i class="fas fa-plus"></i></span>
    <span>Crear Personaje</span>
</a>


<a href="/personajes/filtrar/protagonistas" class="button is-info is-rounded">
    <span class="icon"><i class="fas fa-star"></i></span>
    <span>Ver Protagonistas</span>
</a>


<a href="/historial/personajes" class="button is-danger is-light is-rounded">
  <span class="icon"><i class="fas fa-user"></i></span>
  <span>Historial Personajes</span>
</a>

<div class="column is-one-quarter">
<div class="grid">
    {% for personaje in personajes %}
    <div class="card">
        {% if personaje.img_url %}
            <img src="{{ personaje.img_url }}" alt="{{ personaje.nombre }}" style="width: 180px; height: 180px;">
        {% else %}
            <img src="/static/default-img.png" alt="Imagen no disponible">
{% endif %}
        <div class="titulo">{{ personaje.nombre }}</div>
        <div class="detalle">Película: {{ personaje.pelicula.titulo }}</div>
        <div class="detalle">Protagonista: {{ 'Sí' if personaje.protagonista else 'No' }}</div>
        <div class="buttons mt-3">
        <a href="/personajes/editar/{{ personaje.id }}" class="button is-info is-small">
            <span class="icon"><i class="fas fa-edit"></i></span>
            <span>Editar</span>
        </a>
        <form action="/personajes/eliminar/{{ personaje.id }}" method="post" style="display:inline;">
            <button class="button is-danger is-small" type="submit" onclick="return confirm('¿Eliminar este personaje?');">
                <span class="icon"><i class="fas fa-trash"></i></span>
                <span>Eliminar</span>
            </button>
        </form>
        </div>
    </div>
</div>
    {% endfor %}
</div>
{% endblock %}