{% extends "base.html" %}

{% block title %}Fase de Planeación{% endblock %}

{% block content %}
<h1 class="title">Planeación del Proyecto</h1>
<p><strong>Tema:</strong> Creación de API con diferentes funciones para peliculas y personajes de Disney y DreamWorks.</p>
<p><strong>Desarrollo:</strong> Se fue implementando con FastAPI, luego se integró con HTML.</p>
<p><strong>Diseño:</strong> Todo lo requerido para la creación del API</p>
<ul>
  <li>Modelos: ...</li>
  <li>Estructuras: ...</li>
  <li>Tecnologías: ...</li>
</ul>
{% endblock %}