{% extends "base.html" %}

{% block title %}Planeación{% endblock %}

{% block content %}
<h1 class="title">Planeación del Proyecto</h1>

<div class="content">
  <h2 class="subtitle">Objetivos</h2>
  <ul>
    <li>Listar películas de Disney y DreamWorks según personajes, género y estudio.</li>
    <li>Permitir el registro, visualización y consultas de peliculas y personajes.</li>
  </ul>

  <h2 class="subtitle">Fuente de Datos</h2>
  <ul>
    <li><a href="https://fastapi.tiangolo.com/" target="_blank">FastAPI</a></li>
    <li><a href="https://docs.sqlalchemy.org/" target="_blank">SQLAlchemy - Documentación</a></li>
    <li><a href= "https://render.com/" target="_blank"> Render - Despliegue</a></li>
    <li><a href=" https://www.postgresql.org/" target="_blank"> PostgreSQL - Base de datos</a></li>
    <li><a href="https://jinja.palletsprojects.com/en/stable/" target="_blank"> jinja2 - Documentación</a></li>
    <li><a href="https://bulma.io/documentation/" target="_blank"> Bulma - Framework </a></li>
    <li><a href="https://fontawesome.com/icons?t=packs#packs " target="_blank">Font awesome - Iconos </a></li>
  </ul>

  <h2 class="subtitle">Casos de Uso</h2>
  <ul>
    <li>Registrar una película.</li>
    <li>Registrar un personaje.</li>
    <li>Listar películas y personajes activos.</li>
    <li>Filtrar personajes por película.</li>
    <li>Filtrar personajes protagonistas.</li>
    <li>Busqueda de peliculas por estudio.</li>
    <li>Eliminación de personajes y peliculas.</li>
  </ul>

  <h2 class="subtitle">Modelo de Datos</h2>
  <p>Se utiliza una base de datos con dos entidades principales: <strong>Película</strong> y <strong>Personaje</strong>, relacionadas entre sí.</p>
  <figure>
    <img src="/static/models1.png" alt="Modelo de datos" style="max-width: 100%;">
    <img src="/static/models2.png" alt="Modelo de datos" style="max-width: 100%;">

  </figure>
</div>
{% endblock %}